.pagination {
    position: absolute;
    top: 90%;
    left: 41vw;
    z-index: 15;

    .marker {
        display: block;
        width: 20vw;
        height: 2px;
        border: 0.5px solid #fff;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.7s;
    }
}